<header id="header" class="sticky top-0 z-40 flex-none p-2 pb-4 mx-auto bg-outp/50 dark:bg-doutp/45 backdrop-blur">
    <div class="max-w-screen-lg mx-auto max-h-6">
        <div class="relative flex content-center justify-between mx-4 md:max-w-screen-xl">
            {% include 'blocks/_header_title.html' %}
            <div class="relative flex items-center justify-center ml-auto space-x-4">
                {% include 'components/navigation/navbar.html' %}
                {% include 'components/settings/settings.html' %}
            </div>
        </div>
    </div>
</header>
