fail_fast: true
default_install_hook_types: [commit-msg, pre-commit, pre-push]

repos:

- repo: https://github.com/qoomon/git-conventional-commits
  rev: 'v2.6.5'
  hooks:
  - id: conventional-commits
    args: ["-c", ".git-commits.yaml"]
    stages: ["commit-msg"]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-case-conflict
      stages: ["pre-commit"]
    - id: check-merge-conflict
      stages: ["pre-commit"]
    - id: check-added-large-files
      stages: ["pre-commit"]
    - id: check-yaml
      stages: ["pre-commit"]
    - id: check-toml
      stages: ["pre-commit"]
    - id: end-of-file-fixer
      stages: ["pre-commit"]
    - id: trailing-whitespace
      stages: ["pre-commit"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.8.2
  hooks:
    # Run the linter.
    - id: ruff
      args: ["--config", "pyproject.toml"]
      stages: ["pre-commit"]
    # Run the formatter.
    - id: ruff-format
      args: ["--config", "pyproject.toml"]
      stages: ["pre-commit"]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.13.0'  # Use the sha / tag you want to point at
    hooks:
    -   id: mypy
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [
            "types-Jinja2>=2.11.9",
            "expression[pydantic]>=5.3.0",
            "types-Markdown>=3.7.0.20241204"
          ]
        stages: ["pre-commit"]

-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
    -   id: markdownlint
        stages: ["pre-commit"]
