<ul class="flex flex-row items-center space-x-6 text-sm font-medium">
    <li>
        <button class="block text-blue-400" hx-get="/hx_index.html"
            hx-push-url="/index.html" hx-target="#body-content" hx-swap="innerHTML">
            Home
        </button>
    </li>
    <li>
        <button class="block text-blue-400" hx-get="/posts/hx_index.html"
            hx-push-url="/posts.html" hx-target="#body-content" hx-swap="innerHTML">
            Posts
        </button>
    </li>
    <li>
        <a href="/about"
           class="block text-neutral-300 hover:text-blue-400">About</a>
    </li>
</ul>
