{% assign collection_tags = current_collection | map: 'tags' | join: ',' | split: ',' | uniq | sort %}

<ul class="tags">
    {% for tag in collection_tags %}
    <li><a href="#{{ tag | slugify: 'pretty' }}" class="tag">{{ tag }}<span></span></a></li>
    {% endfor %}
</ul>

<ul class="posts">
  {% for tag in collection_tags %}
    <h1 id={{ tag }}>{{ tag }}</h1>
    {% for page in current_collection %}
      {% assign post_labels = page.tags %}
      {% if post_labels contains tag %}
        <li>
          <h2><a href="{{ page.url }}">{{ page.title }}</a> {% include tags_info.html %}</h2>
          {{ page.excerpt }}  
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>