{# templates/blocks/posts/post_item.html #}
<li>
    <div class="post-item">
        <button class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700" hx-get="/posts/{{ post.slug }}/hx.html"
            hx-push-url="/posts/{{ post.slug }}/index.html" hx-target="#body-content" hx-swap="innerHTML">
            <h2 class="post-title">
                {{ post.front_matter.title | safe }}
            </h2>
        </button>

        {% if post.front_matter.summary %}
            <p class="post-summary">{{ post.front_matter.summary | safe }}</p>
        {% else %}
            <div class="post-content">
                {{ post.content | safe }}
            </div>
        {% endif %}

    </div>
</li>
