{# templates/navbar/navigation.html #}
<div class="hidden sm:flex">
    {% include 'navbar/_menus.html' %}
</div>

<div id="navigation-small" class="flex sm:hidden">
    <button @click="open = !open" type="button" :class="{ 'sticky top-4': scrolled, 'static': !scrolled }"
        class="inline-flex text-sm text-gray-500 rounded-lg items-centerml-3"
        aria-controls="navbar-mobile" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"></path>
        </svg>
    </button>

    <div x-show="open" x-transition:enter="transition ease-out duration-300 transform"
        x-transition:enter-start="-translate-x-full" x-transition:enter-end="translate-x-0"
        x-transition:leave="transition ease-in duration-300 transform"
        x-transition:leave-start="translate-x-0" x-transition:leave-end="-translate-x-full"
        class="fixed left-0 z-50 w-3/4 sm:hidden"
        :style="{ 'top': open ? (scrolled ? '48px': '78px') : '' }" id="navbar-mobile" x-cloak>
        <div
            class="relative flex flex-col py-4 transition-opacity duration-300 ease-in-out bg-opacity-50 rounded-lg bg-neutral-900 backdrop-blur-md">
            <button @click="open = false" class="absolute text-white top-4 right-4" aria-label="Close menu">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
            <div class="flex-grow overflow-y-auto">
                {% include 'navbar/mobile.html' %}
            </div>
        </div>
    </div>
</div>
