{# templates/blocks/posts/post_item.html #}
<li data-tags="{{ post.tag_slugs | join(' ') }}">
    <div
        class="flex flex-col p-2 rounded-lg md:flex-row gap-x-2 bg-douts/10 dark:bg-douts/10 hover:bg-dout/20 dark:hover:bg-douts/20">

        <div class="hidden h-40 mb-2 md:mb-0 md:mr-2 md:block md:flex-shrink-0 md:w-40">
            {% if post.thumbnail.is_some() %}
            <img class="object-cover object-left-top w-full h-full rounded-md" loading="lazy"
                src="{{ post.thumbnail.some }}" alt="Thumbnail for {{ post.title }}">
            {% else %}
            <div class="w-full h-full rounded-md bg-gradient-to-br from-outp to-outs dark:from-doutp dark:to-douts"
                aria-hidden="true"></div>
            {% endif %}
        </div>
        <div class="flex flex-col flex-grow">
            <a class="flex flex-col items-start justify-between text-left text-wrap"
                href="{{ post.targets.complete.destination }}">
                <h2 class="text-xl font-bold"><u>{{ post.title | safe }}</u></h2>
                <span class="text-gray-700 dark:text-gray-300">
                    {% if post.summary.is_some() %}
                    {{ post.summary.some | safe }}
                    {% else %}
                    {{ post.contents | truncate(200) | safe }}
                    {% endif %}
                </span>
            </a>
            <div class="flex flex-col justify-between mt-2 sm:space-x-2 sm:items-center sm:flex-row">
                {% set share_url = post.url %}
                {% set share_title = post.title %}
                {% include 'sections/blog/_share.html' %}
                <div id="post-metadata" class="flex flex-row items-center space-x-1">
                    <div class="flex-row items-center hidden space-x-1 sm:flex">
                        <span class="inline-flex w-4 h-4 text-gray-600 dark:text-gray-400">{{ icons.calendar | safe }}</span>
                        <time class="text-sm text-gray-600 dark:text-gray-400"
                            datetime="{{ post.date }}">
                            {{ post.date[0:10] }}
                        </time>
                    </div>

                </div>
            </div>
        </div>
    </div>
</li>
