<div class="flex items-center space-x-4">
    <div class="flex items-center p-1 rounded-lg border-red dark:bg-doutone/50 bg-outone/50">
        <button id="dark-mode-toggle" @click="currentTheme = currentTheme === 'dark' ? 'light' : 'dark'"
            class="inline-flex items-center justify-center size-6" aria-label="Toggle colour theme">
            <span class="dark:hidden">{{ icons.moon | safe }}</span>
            <span class="hidden dark:inline-flex">{{ icons.sun | safe }}</span>
        </button>
    </div>
    <p class="sm:hidden">Toggle <strong x-text="currentTheme === 'dark' ? 'Light' : 'Dark'"></strong> Mode</p>
</div>
